<div style="width: 90%;margin-left: 5%;margin-right: 5%;">
    <div style="width: 100%;height: 100px;background: pink">
        top
    </div>
    <div style="width: 100%;height: 400px;">
        <div style="width: 20%;height: 400px;float:left;background: #66afe9">
            left
        </div>
        <div style="width: 80%;height: 400px;float:right;background: #008ead" id="right">
            right
        </div>
    </div>
    <div style="width: 100%;height: 50px;background: deeppink">
        bottom
    </div>
</div>
