<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>
<body>
	<div class='luck-back'>
		<div class="luck-content ce-pack-end">
			<div id="luckuser" class="slotMachine">
				<div class="slot">
					<span class="name">姓名</span>
				</div>
			</div>
			<div class="luck-content-btn">
				<a id="start" class="start" ng-click="startlucky()">开始</a>
			</div>
			<div class="luck-user">
				<div class="luck-user-title">
					<span>中奖名单</span>
				</div>
				<ul class="luck-user-list"></ul>
				<div class="luck-user-btn">
					<a href="#">中奖人</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>